body{
    	background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
    
    
}

#article{
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	border-style: solid;
	border-width: 1px;
	border-radius: 25px;
	background-color:white;
	background-color:rgba(255, 255, 255, 0.5);
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#bgCanvas {
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

h4 {
  text-decoration: underline;
  font-weight: 300;
  color: black;
  padding-left: 20px;
}

.loginButton {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #6441a5 5%, #a20dbd 100%);
	background-color:#6441a5;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.loginButton:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #6441a5 100%);
	background-color:#a20dbd;
}
.loginButton:active {
	position:relative;
	top:1px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.myButton:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.myButton:active {
	position:relative;
	top:1px;
}

.adminButton {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.adminButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.adminButton:active {
	position:relative;
	top:1px;
}

.SharkmasButton {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.SharkmasButton:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.SharkmasButton:active {
	position:relative;
	top:1px;
}

#errorlist{
	margin:5px;
	padding:20px;
	background:rgba(220,20,60,.5);
	border: 2px solid rgba(220,20,60,.5);
    border-radius: 25px;
}