#Sharky{
	text-align: center;
}
#twitch{
	border-radius: 5px;
	padding:2.5px;
	width:200px;
	color:white;
}
#twitch p{
	padding:0;
	margin:0;
}

@font-face {
  font-family: 'appopaint-Regular';
  src: url('appopaint-Regular.otf'); /* IE9 Compat Modes */
}

h1{
    font-family:appopaint-Regular,Luminari, fantasy,serif;
    color: rgba(1,254,229,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
        0px -5px 35px rgba(255,255,255,0.3);
    
}